*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home__page {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login__message {
    text-align: center;
    width:80%;
}

.login__message img{
     width:90px;
     margin-bottom: 15px;
}
.login__message h1 {
    font-size: 50px;
    text-decoration: underline;
    margin-bottom: 10px;
}
.login__message p {
    font-size: 20px;
    margin-bottom: 15px;
}
.login__button {
    padding: 10px 15px;
    background-color: black;
    color: white;
    outline: none;
    font-weight: 700;
    border-radius: 25px;
    border: black 2px solid;
}
.login__button:hover {
    background-color: #fff;
    color: gray;
    cursor: pointer;
}